
        
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
          
            <style type="text/css">
              @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);
          
              html,
              body {
                  margin: 0;
                  padding: 0;
                  background: #ada9a9;
              }
          
              @media screen and (max-width: 770px) {
                  table[width="712"],
                  table[width="620"] {
                      width: 90%;
                  }
          
                  table[width="620"] h2 {
                      width: calc(100% - 192px) !important;
                  }
              }
          
              @media screen and (max-width: 640px) {
                  table[width="620"] h2,
                  table[width="620"] .logo,
                  table[width="620"] .social {
                      display: block !important;
                      width: 100% !important;
                      float: left !important;
                      text-align: center !important;
                  }
          
                  table[width="620"] h2 {
                      margin: 10px 0 20px !important;
                  }
          
                  table[width="620"] .logo img {
                      display: inline-block !important;
                  }
          
                  table[width="620"] .social a {
                      display: inline-block !important;
                      width: auto !important;
                      float: none !important;
                  }
          
                  .bf-text img {
                      width: 400px;
                  }
          
                  .bf-deal img {
                      width: 180px;
                  }
          
                   .sale-big-box {
                      width: 430px;
                   }
          
                  .sale-box img {
                      width: 200px;
                  }
          
                  .description {
                    font-size: 20px !important;
                  }
          
                  td[height="70"] {
                      height: 50px !important;
                  }
              }
            </style>
          
         


  <div class="container">
        <div class="row">
      
            <p>
               *Shipping charge may apply at the time of check out.
            </p>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options-cart-round">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://5.imimg.com/data5/MA/JP/MY-28730939/stylish-half-sleeve-shirt-500x500.jpg" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                
                                <h1>Sample Shirts</h1>
                                <span class="price-new">$20.00</span>
                            </div>
                        </div>
                    </div>
                </article>
               
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options">
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                <i class="fa fa-exchange"></i>
                            </button>
                        </div>
                        <div class="options-cart">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://img.michaels.com/L6/3/IOGLO/873480063/212543238/10093626_r.jpg?fit=inside|1024:1024" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                
                                <h1>Sample Tshirts</h1>
                                <span class="price-new">$10.00</span>
                            </div>
                        </div>
                    </div>
                </article>
                
            </div>
            <div class="col-sm-3">
                <article class="col-item">

                    <div class="photo">
                            <div class="options">
                                    <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Add to wish list">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fa fa-exchange"></i>
                                    </button>
                                </div>
                                <div class="options-cart">
                                    <button class="btn btn-default" title="Add to cart">
                                        <span class="fa fa-shopping-cart"></span>
                                    </button>
                                </div>
                        <a href="#"> <img src="https://i.pinimg.com/originals/04/6f/dd/046fdd9763cd75e99ab6262ae2a8260f.jpg" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                
                                <h1>Sample Shoes</h1>
                                <span class="price-new">$30.00</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                            <div class="options-cart-round">
                                    <button class="btn btn-default" title="Add to cart">
                                        <span class="fa fa-shopping-cart"></span>
                                    </button>
                                </div>
                        <a href="#"> <img src="https://i.pinimg.com/originals/5c/f7/55/5cf75581044988a6de8401c1db9c1145.png" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                
                                <h1>Sample Bags</h1>
                                <span class="price-new">$20.00</span>
                            </div>
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>
        </div>
    </div>  